/* Basic */

* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

html {
	background-color: lightcyan;
}

body {
	margin: 0; /* Because of grid issue */
}

ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

/* Page sections */

#root {
	height: 100vh; /* Because of grid issue */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
}

#authbar {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

#logo {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

#logo > h1 > a {
	text-decoration: none;
	font-size: 55px;
	font-weight: bold;
}

#main-block {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	position: relative;
}

/* index.html */

.main-block__form {
	background: white;
	padding: 30px 80px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-block__menu-button {
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background-color: slateblue;
	color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-block__menu-button:active {
	background-color: rgb(90, 77, 173);
}

ul.buttons > li {
	margin-top: 10%;
}

ul.buttons > li > a {
	display: block;
}

.authbar__auth-button {
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background-color: slateblue;
	color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.authbar__auth-button:active {
	background-color: rgb(90, 77, 173);
}

ul.auth > li {
	margin: 5%;
	display: inline-block;
	width: auto;
}

ul.auth > li > a {
	display: block;
	width: 60px;
}

/* sign_in.html, sign_up.html */

.main-block__form-button {
	font-size: 14px;
	padding: 15px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background-color: slateblue;
	color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	text-transform: uppercase;
	width: 100%;
}

.main-block__form-button:active {
	background-color: rgb(90, 77, 173);
}

.main-block__form-field {
	border: 0;
	outline: 0;
	padding: 15px;
	display: block;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	background: #f2f2f2;
}

.main-block__form-links {
	margin-top: 15%;
}

.main-block__form-links > p {
	display: inline;
}

.main-block__form-links > p > a {
	text-decoration: none;
	font-size: 14px;
}

/* leaders.html */

.main-block__form-table {
	display: table;
	width: 100%;
}

.main-block__table-head {
	background-color: slateblue;
	color: white;
	font-weight: bold;
}

.main-block__table-body {
	display: table-row-group;
}

.main-block__table-row {
	display: table-row;
	cursor: pointer;
}

.main-block__table-row:nth-child(even) {
	background-color: #f2f2f2;
}

.main-block__table-row:hover {
	background-color: #ddd;
}

.main-block__table-cell {
	border: 1px solid gray;
	display: table-cell;
	padding: 3px 10px;
}

/* profile.html */
