<ul class="about" ref="about">
	<li class="about__link" ref="dev-1"></li>
	<li class="about__link" ref="dev-2"></li>
	<li class="about__link" ref="dev-3"></li>

	<p>
		<h2>Mentor</h2>
	</p>
	<li class="about__link" ref="mentor"></li>
</ul>
