<ul class="about" ref="about">
	<li class="about__item">
		<img class="about__item__avatar" src="https://rasseki.pro/public/service/mouseartiom.jpg" alt="mouseartiom">
		<p class="about__item__link" ref="dev-2"></p>
	</li>

	<li class="about__item">
		<img class="about__item__avatar" src="https://rasseki.pro/public/service/0sektor0.png" alt="0sektor0">
		<p class="about__item__link" ref="dev-3"></p>
	</li>

	<li class="about__item">
		<img class="about__item__avatar" src="https://rasseki.pro/public/service/armelior.jpg" alt="Armelior">
		<p class="about__item__link" ref="dev-1"></p>
	</li>

	<li class="about__item">
		<img class="about__item__avatar" src="https://rasseki.pro/public/service/8coon.png" alt="8coon">
		<p class="about__item__link" ref="mentor"></p>
	</li>
</ul>
