<div class="game-screen">
	{{#if isReady}}
		<div class="game-screen__hero-sprite">

		</div>

		<div class="game-screen__question-window">

		</div>

		<div class="game-screen__hero-sprite">

		</div>
	{{else}}
		<div ref="isReadyButton"></div>
	{{/if}}
</div>