.game-screen {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;

	&__canvas {
		position: absolute;
		left: 0;
		top: 0;
	}

	&__backgound {
		z-index: 0;
	}

	&__interface {
		z-index: 1;
	}

	&__hero-left {
		z-index: 2;
	}

	&__hero-right {
		z-index: 3;
	}

}

.question-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/public/sprites/paper-dialog.png) no-repeat center center;
    background-size: contain;
	position:absolute;
	z-index: 4;
    margin-left: 15vw;
    margin-top: 20vh;
    width: 70vw;
    height: 70vh;
}

.question-text-container {
    width: 60%;
}

.question-text {
    font-size: 200%;
    text-align: center;
}

.answer-text {
    font-size: 150%;
    text-align: center;
}

.answer-button {
    background: url(/public/sprites/button-on.png) no-repeat center center;
    margin-bottom: 2%;
    width: 60%;
    height: 12%;
}

.answer-button:hover {
    background: url(/public/sprites/grey.png) no-repeat center center;
}