<div>
	<form>
		<input type="text" class="field" placeholder="Login">
		<input type="email" class="field" placeholder="E-Mail">
		<input type="password" class="field" placeholder="Password">
		<input type="password" class="field" placeholder="Repeat your password">
		<div ref="register"></div>
		<div class="links">
			<p><a class="link">Already registered?</a></p>
			<p><a class="link">Forgot your password?</a></p>
		</div>
		<div class="info" ref="info"></div>
	</form>
</div>