.field {
	border: 0;
	outline: 0;
	padding: 15px;
	display: block;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	background: #f2f2f2;
}

.links {
	margin-top: 15%;
	text-align: center;
}

.links > p {
	display: inline;
	user-select: none;
}

.link {
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

.link:active {
	color: rgb(90, 77, 173);
}