<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Profile</title>
		<link rel="stylesheet" href="../static/main.css">
	</head>

	<body>
		<div id="root">
			<div id="authbar">
				<ul class="auth">
					<li><a href="sign_in.html" class="authbar__auth-button">Sign In</a></li>
					<li><a href="sign_up.html" class="authbar__auth-button">Sign Up</a></li>
				</ul>
			</div>

			<div id="logo">
				<h1><a href="index.html">Our game</a></h1>
			</div>

			<div id="main-block">
				<div class="main-block__form">
					<div class="main-block__profile">
						<div class="main-block__profile-user">
							<img src="../img/avatar-blank.png" alt="avatar" class="main-block__profile-user-avatar">
							<span class="main-block__profile-user-name">#USERNAME</span>
						</div>
						<div class="main-block__profile-info">
							<ul>
								<li>
									<p><strong>E-Mail:</strong> example@mail.ru</p>
								</li>
								<li>
									<p><strong>Wins:</strong> 123</p>
								</li>
								<li>
									<p><strong>Loses:</strong> 99</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
