<div>
	<form>
		<input type="text" class="field" placeholder="Login" ref="login">
		<input type="password" class="field" placeholder="Password" ref="pass">
		<div ref="submit"></div>
		<div class="links">
			<p><a class="link">Not registered?</a></p>
			<p><a class="link">Forgot your password?</a></p>
		</div>
		<div class="info" ref="info"></div>
	</form>
</div>
