<div>
	<form class="form">
		<input type="text" class="form__field" placeholder="Login" data="login">
		<span class="form__field__popup-login"></span>
		<input type="password" class="form__field" placeholder="Password" data="pass">
		<span class="form__field__popup-pass"></span>
		<div ref="submit"></div>
		<p class="form__link" ref="toSignUp"></p>
	</form>
</div>
