<div>
	<form>
		<input type="text" class="form__field" placeholder="Login" ref="login">
		<input type="password" class="form__field" placeholder="Password" ref="pass">
		<div ref="submit"></div>
		<div class="form__links">
			<p class="form__links__link" ref="toSignUp"></p>
			<p class="form__links__link" ref="resetPass"></p>
		</div>
		<div class="form__info" ref="info"></div>
	</form>
</div>
