<div>
	<form>
		<input type="text" class="field" placeholder="Login" ref="login">
		<input type="password" class="field" placeholder="Password" ref="pass">
		<div ref="submit"></div>
		<div class="links">
			<p class="link" ref="toSignUp"></p>
			<p class="link" ref="resetPass"></p>
		</div>
		<div class="info" ref="info"></div>
	</form>
</div>
