.button {
	font-size: 24px;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background-color: slateblue;
	color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

.button:active {
	background-color: rgb(90, 77, 173);
}
