.table {
	display: table;
	width: 100%;

	&__head {
		background-color: slateblue;
		color: white;
		font-weight: bold;
	}

	&__body {
		display: table-row-group;
	}

	&__row {
		display: table-row;

		&:nth-child(even) {
			background-color: #f2f2f2;
		}

		&:hover {
			background-color: #ddd;
		}
	}

	&__cell {
		border: 1px solid gray;
		display: table-cell;
		padding: 3px 10px;
	}
}

.paginator {
	text-align: center;
	font-size: 24px;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	padding-top: 10%;

	&__current-page {
		font-weight: bold;
	}
}
