<ul class="menu" ref="menu">
	<li class="menu__link" ref="singleplayer"></li>
	<li class="menu__link" ref="multiplayer"></li>
	<li class="menu__link" ref="profile"></li>
	<li class="menu__link" ref="leaderboard"></li>
	<li class="menu__link" ref="about"></li>
</ul>
