<html>
    <head>
        <title>Game</title>
    </head>
    <body>
        <div class="canvas_container">
           <canvas class="canvas background"></canvas>
           <canvas class="canvas interface"></canvas>
           <canvas class="canvas heroes"></canvas>
           </div>
        {{!-- <script src="animate.js"></script> --}}
    </body>
</html>