<div>
{{#if questionWindow}}
    <div class="overlay">
        <div class="question-body">

            <div class="question-text-container">
                <p class="question-text">{{questionText}}</p>
            </div>

            <div class="answer-button" ref="answer1">
            </div>

            <div class="answer-button" ref="answer2">
            </div>

            <div class="answer-button" ref="answer3">
            </div>

            <div class="answer-button" ref="answer4">
            </div>
        </div>
    </div>
{{/if}}
</div>
