.question-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://rasseki.pro/public/sprites/paper-dialog.png) no-repeat center center;
    background-size: contain;
	// position:absolute;
    margin-left: 15vw;
    margin-top: 20vh;
    width: 70vw;
    height: 70vh;
    z-index: 2;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;

}

.question-text-container {
    width: 60%;
}

.question-text {
    font-size: 200%;
    text-align: center;
}

.answer-text {
    font-size: 150%;
    text-align: center;
}

.answer-button {
    background: url(https://rasseki.pro/public/sprites/button-on.png) no-repeat center center;
    margin-bottom: 2%;
    width: 60%;
    height: 12%;
}

.answer-button:hover {
    background: url(https://rasseki.pro/public/sprites/grey.png) no-repeat center center;
}