.question-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/public/sprites/paper-dialog.png) no-repeat center center;
    background-size: contain;
	position:absolute;
    margin-left: 15vw;
    margin-top: 20vh;
    width: 70vw;
    height: 70vh;
}

.question-text-container {
    width: 60%;
}

.question-text {
    font-size: 200%;
    text-align: center;
}

.answer-text {
    font-size: 150%;
    text-align: center;
}

.answer-button {
    background: url(/public/sprites/button-on.png) no-repeat center center;
    margin-bottom: 2%;
    width: 60%;
    height: 12%;
}

.answer-button:hover {
    background: url(/public/sprites/grey.png) no-repeat center center;
}