<div>
	<form>
		<input type="text" class="field" placeholder="Login" ref="login">
		<input type="email" class="field" placeholder="E-Mail" ref="email">
		<input type="password" class="field" placeholder="Password" ref="pass">
		<input type="password" class="field" placeholder="Repeat your password" ref="passRep">
		<div ref="submit"></div>
		<div class="links">
			<p class="link" ref="toSignIn"></p>
			<p class="link" ref="resetPass"></p>
		</div>
		<div class="info" ref="info"></div>
	</form>
</div>
