.main-block__table {
	display: table;
	width: 100%;
}

.main-block__table-head {
	background-color: slateblue;
	color: white;
	font-weight: bold;
}

.main-block__table-body {
	display: table-row-group;
}

.main-block__table-row {
	display: table-row;
	cursor: pointer;
}

.main-block__table-row:nth-child(even) {
	background-color: #f2f2f2;
}

.main-block__table-row:hover {
	background-color: #ddd;
}

.main-block__table-cell {
	border: 1px solid gray;
	display: table-cell;
	padding: 3px 10px;
}
