.logo-block {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	h1 {
		a {
			text-decoration: none;
			font-size: 55px;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				color: slateblue;
			}

			&:active {
				color: rgb(90, 77, 173);
			}
		}
	}
}
