.profile {
	&__user {
		display: inline-block;
	}

	&__avatar {
		border-radius: 40px;
		border-style: solid;
		border-width: 1.2px;
		border-color: white;
		width: 80px;
		height: 80px;
		margin: auto auto auto auto;
		display: block;
	}

	&__name {
		font-weight: bold;
		display: block;
	}

	&__info {
		display: inline-block;
	}
}
