/* sign_in, sign_up */

.main-block__form-button {
	font-size: 14px;
	padding: 15px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background-color: slateblue;
	color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	text-transform: uppercase;
	width: 100%;
}

.main-block__form-button:active {
	background-color: rgb(90, 77, 173);
}

.main-block__form-field {
	border: 0;
	outline: 0;
	padding: 15px;
	display: block;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	background: #f2f2f2;
}

.main-block__form-links {
	margin-top: 15%;
}

.main-block__form-links > p {
	display: inline;
}

.main-block__form-links > p > a {
	text-decoration: none;
	font-size: 14px;
}