<div class="main-block__form">
    <ul class="buttons">
        <li><a href="../Game/fight.html" class="main-block__menu-button">Play singleplayer</a></li>
        <li><a href="#" class="main-block__menu-button">Play multiplayer</a></li>
        <li><a onclick="renderProfile();" href="#" class="main-block__menu-button">View profile</a></li>
        <li><a onclick="renderLeaders();" href="#" class="main-block__menu-button">Leaderboard</a></li>
        <li><a onclick="renderAbout();" href="#" class="main-block__menu-button">About</a></li>
    </ul>
</div>