<div class="main-block__form">
    <div class="main-block__table">
        <div class="main-block__table-body">
            <div class="main-block__table-row">
                <div class="main-block__table-cell main-block__table-head">Place</div>
                <div class="main-block__table-cell main-block__table-head">Gamer</div>
                <div class="main-block__table-cell main-block__table-head">Score</div>
            </div>

            {{#each this}}
            <div class="main-block__table-row">
                <div class="main-block__table-cell">{{place}}</div>
                <div class="main-block__table-cell">{{username}}</div>
                <div class="main-block__table-cell">{{score}}</div>
            </div>
            {{/each}}

        </div>
    </div>
</div>