<div class="main-block__form">
    <form>
        <input type="text" class="main-block__form-field" placeholder="Login">
        <input type="password" class="main-block__form-field" placeholder="Password">
        <input type="submit" class="main-block__form-button" value="Sign In">

        <div class="main-block__form-links">
            <p><a href="#" class="">Not registered?</a></p>
            <p><a href="#" class="">Forgot your password?</a></p>
        </div>
    </form>
</div>