<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>About project</title>
		<link rel="stylesheet" href="../../styles/main.css">
	</head>

	<body>
		<div id="root">
			<div id="authbar">
				<ul class="auth">
					<li><a href="sign_in.html" class="authbar__auth-button">Sign In</a></li>
					<li><a href="sign_up.html" class="authbar__auth-button">Sign Up</a></li>
				</ul>
			</div>

			<div id="logo">
				<h1><a href="index.html">Our game</a></h1>
			</div>

			<div id="main-block">
				<div class="main-block__form">
					<ul class="buttons">
						<li><a href="https://github.com/armelior" class="main-block__menu-button">@armelior</a></li>
						<li><a href="https://github.com/mouseartiom" class="main-block__menu-button">@mouseartiom</a></li>
						<li><a href="https://github.com/0sektor0" class="main-block__menu-button">@0sektor0</a></li>
						<li><a href="https://github.com/YB97" class="main-block__menu-button">@YB97</a></li>

						<p><h2>Mentor</h2></p>
						<li><a href="https://github.com/8coon" class="main-block__menu-button">@8coon</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>

</html>
