<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Sign in</title>
		<link rel="stylesheet" href="../../styles/main.css">
	</head>

	<body>
		<div id="root">
			<div id="authbar">
				<ul class="auth">
					<li><a href="sign_in.html" class="authbar__auth-button">Sign In</a></li>
					<li><a href="sign_up.html" class="authbar__auth-button">Sign Up</a></li>
				</ul>
			</div>

			<div id="logo">
				<h1><a href="index.html">Our game</a></h1>
			</div>

			<div id="main-block">
				<div class="main-block__form">
					<form>
						<input type="text" class="main-block__form-field" placeholder="Login">
						<input type="email" class="main-block__form-field" placeholder="E-Mail">
						<input type="password" class="main-block__form-field" placeholder="Password">
						<input type="password" class="main-block__form-field" placeholder="Confirm password">
						<input type="submit" class="main-block__form-button" value="Sign Up">

						<div class="main-block__form-links">
							<p><a href="#" class="">Already registered?</a></p>
							<p><a href="#" class="">Forgot your password?</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>
