<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our game</title>
    <link rel="stylesheet" href="../../styles/main.css">
    <script src="../../scripts/handlebars-v4.0.12.min.js"></script>
    <script src="../../templates/about.js"></script>

    <script>
        window.templateMembers = {
            mentor: {
                link: "https://github.com/8coon",
                name: "@8coon"
            },
            developers: [
                {
                    link: "https://github.com/armelior",
                    name: "@armelior"
                },
                {
                    link: "https://github.com/mouseartiom",
                    name: "@mouseartiom"
                },
                {
                    link: "https://github.com/0sektor0",
                    name: "@0sektor0"
                },
                {
                    link: "https://github.com/YB97",
                    name: "@YB97"
                },
            ]
        };
    </script>
    
</head>

<body>

</body>

</html>