<ul class="buttons">
    {{#each developers}}
    <li><a href="{{link}}" class="main-block__menu-button">{{name}}</a></li>
    {{/each}}

    <p>
        <h2>Mentor</h2>
    </p>
    <li><a href="{{mentor.link}}" class="main-block__menu-button">{{mentor.name}}</a></li>
</ul>