* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

html {
	background-color: lightcyan;
}

body {
	margin: 0; /* Because of grid issue */
}

.root {
	height: 100vh; /* Because of grid issue */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
}

.auth-block {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.main-block {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	position: relative;
}

.backside {
	background: white;
	padding: 30px 80px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

.not-found-page {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
