* {
	font-family: "Helvetica", "Arial", sans-serif;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

body {
	margin: 0;
}

.root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.main-block {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	position: relative;
}

.not-found-page {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
