<div class="root" ref="root">
	<div class="auth-block" ref="auth"></div>

	<div class="logo-block" ref="logo"></div>

	<div class="main-block" ref="main">
		<div class="backside" ref="backside">
			{{#if menu}}
			<div ref="menu"></div>
			{{/if}}

			{{#if profile}}
			<div ref="profile"></div>
			{{/if}}

			{{#if leaderboard}}
			<div ref="leaderboard"></div>
			{{/if}}

			{{#if about}}
			<div ref="about"></div>
			{{/if}}

			{{#if signin}}
			<div ref="signin"></div>
			{{/if}}

			{{#if signup}}
			<div ref="signup"></div>
			{{/if}}
		</div>
	</div>
</div>
