<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Fight screen</title>
		<link rel="stylesheet" href="../../styles/game.css">
	</head>

	<body>
		<div id="root">
			<div class="enemy-info">
				<div class="area-overlap enemy-info__nickname">
					#USERNAME
				</div>

				<div class="enemy-info__health">
					<div class="gamer-info__health__bar-red"></div>
					<div class="gamer-info__health__bar-blue"></div>
					<div class="gamer-info__health__bar"></div>
					<div class="gamer-info__health__bar-text">100%</div>
				</div>
			</div>

			<div class="gamer-info">
				<div class="gamer-info__health">
					<div class="gamer-info__health__bar-red"></div>
					<div class="gamer-info__health__bar-blue"></div>
					<div class="gamer-info__health__bar"></div>
					<div class="gamer-info__health__bar-text">100%</div>
				</div>

				<div class="area-overlap gamer-info__nickname">
					#USERNAME
				</div>
			</div>

			<div class="timer">
				&lt;ТУТ ДОЛЖЕН БЫТЬ ТАЙМЕР&gt;
			</div>

			<div class="game-actions">
				<div class="area-overlap game-actions__attack">
					&lt;АТАКА&gt;
				</div>

				<div class="game-actions__ability">
					&lt;СПОСОБНОСТЬ&gt;
				</div>

				<div class="game-actions__autofight">
					&lt;АВТОБОЙ&gt;
				</div>

				<div class="game-actions__skip">
					&lt;ПРОПУСТИТЬ ХОД&gt;
				</div>

				<div class="game-actions__surrender">
					&lt;СДАТЬСЯ&gt;
				</div>
			</div>

			<div class="gamer-hero">
				<img src="../../img/hero-sprite.png" alt="hero-sprite">
			</div>

			<div class="enemy-hero">
					<img src="../../img/hero-sprite.png" alt="hero-sprite">
			</div>
		</div>
	</body>

</html>
