.form {
	display: flex;
	flex-direction: column;

	&__field {
		border: 0;
		padding: 16px;
		font-size: 14px;
		width: 244px;
		box-sizing: border-box;
		margin-bottom: 16px;
		background: #f2f2f2;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;

		&:focus {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.3s ease;
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
		}

		&.error {
			box-shadow: 0 0 5px red;
		}

		&__popup-login, &__popup-email, &__popup-pass, &__popup-passRep {
			color: red;
			white-space: pre-wrap;
			text-align: center;
			font-size: 14px;
			margin: 0 auto 12px auto;
			-webkit-transition: opacity 1s ease-in-out;
			-moz-transition: opacity 1s ease-in-out;
			-o-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
		}
	}

	&__link {
		text-align: center;

		a {
			text-decoration: none;
			font-size: 14px;
			cursor: pointer;
			user-select: none;

			&:active {
				color: rgb(90, 77, 173);
			}
		}
	}

	&__modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);

		&-content {
			position: relative;
			background-color: #fefefe;
			margin: auto;
			padding: 0;
			border: 1px solid #888;
			width: 80%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			animation-name: animatetop;
			animation-duration: 0.4s;

			&__header {
				padding: 2px 16px;
				background-color: red;
				color: white;

				&__close {
					color: white;
					float: right;
					font-size: 28px;
					font-weight: bold;

					&:hover, &:focus {
						color: #000;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}

			&__body {
				padding: 2px 16px;
			}
		}
	}
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
