.form {
	&__field {
		border: 0;
		outline: 0;
		padding: 16px;
		display: block;
		font-size: 14px;
		width: 244px;
		box-sizing: border-box;
		margin-bottom: 16px;
		background: #f2f2f2;
	}

	&__link {
		text-align: center;

		a {
			text-decoration: none;
			font-size: 14px;
			cursor: pointer;
			user-select: none;

			&:active {
				color: rgb(90, 77, 173);
			}
		}
	}

	// &__links {
	// 	margin-top: 15%;
	// 	text-align: center;

	// 	p {
	// 		display: inline;
	// 		user-select: none;
	// 	}

	// 	&__link {
	// 		text-decoration: none;
	// 		font-size: 14px;
	// 		cursor: pointer;

	// 		&:active {
	// 			color: rgb(90, 77, 173);
	// 		}
	// 	}
	// }

	// &__info {
	// 	text-align: center;
	// 	color: red;
	// 	padding-top: 8px;
	// }


}
