<div class="table">
	<div class="table-body">
		<div class="table-row">
			<div class="table-cell table-head">Place</div>
			<div class="table-cell table-head">Gamer</div>
			<div class="table-cell table-head">Score</div>
		</div>

		{{#each this}}
		<div class="table-row">
			<div class="table-cell">{{place}}</div>
			<div class="table-cell">{{username}}</div>
			<div class="table-cell">{{score}}</div>
		</div>
		{{/each}}

	</div>
</div>
