<div>
    <form>
    <input type="text" class="field" placeholder="Name">
    <input type="password" class="field" placeholder="Password">
    {{!-- <input type="submit" class="form-button" ref="submit" value="Login"> --}}
	<div ref="login"></div>
    </form>
</div>