<div>
	<form>
		<input type="text" class="field" placeholder="Login">
		<input type="password" class="field" placeholder="Password">
		<div ref="login"></div>
		<div class="links">
			<p><a class="link">Not registered?</a></p>
			<p><a class="link">Forgot your password?</a></p>
		</div>
	</form>
</div>
